@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html,
body,
html * {
    font-family: 'Roboto', sans-serif;
}

body {
    letter-spacing: 0.0625em;
}

.btn-tech-week {
    color: #fff;
    background-color: rgba(234, 104, 245, 0.8);
    border-color: rgba(234, 104, 245, 0.8);
}

.bg-tech-week {
    background-color: rgba(234, 104, 245, 0.8);
}

#mainNav {
    min-height: 3.5rem;
    background-color: rgba(234, 104, 245, 0.8);
}

#mainNav .navbar-toggler {
    font-size: 1.8rem;
    padding: 6px 8px;
    color: #000000;
    border: 0px solid;
}

#mainNav .navbar-toggler:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(96, 255, 145, 1);
}

#mainNav .navbar-toggler:focus {
    outline: none;
}

#mainNav .navbar-brand {
    color: #000000;
    font-weight: 700;
    padding: 0.9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(#fff, 80%);
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.5);
}

#mainNav .navbar-brand:hover {
    padding: 0.5rem 0;
    color: rgb(67, 85, 254, 0.5);
}

@media (max-width: 990px) {
    #mainNav .nav-link:hover {
        color: rgba(67, 85, 254, 0.6);
    }
    #mainNav .nav-link:active {
        color: rgb(67, 85, 254);
    }
    #mainNav .nav-link.active {
        color: rgb(67, 85, 254);
    }
    #mainNav.navbar-shrink .nav-link:hover {
        color: rgb(67, 85, 2540.6);
    }
    #mainNav.navbar-shrink .nav-link:active {
        color: rgb(67, 85, 254);
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: rgb(67, 85, 254);
    }
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }
    #mainNav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        color: rgba(255, 255, 255, 1);
    }
    #mainNav .nav-link:hover {
        color: rgb(67, 85, 254, 0.6);
    }
    #mainNav .nav-link:active {
        color: #fff;
    }
    #mainNav.navbar-shrink {
        background-color: rgba(234, 104, 245, 0.4);
    }
    #mainNav.navbar-shrink .nav-link {
        color: rgba(255, 255, 255, 1);
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
        color: rgb(67, 85, 254);
    }
    #mainNav.navbar-shrink .nav-link:active {
        color: rgb(67, 85, 254);
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: rgb(67, 85, 254);
        outline: none;
        border-bottom: 0.25rem solid rgb(234, 104, 245);
    }
}


/*

@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }
    #mainNav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        color: rgba(255, 255, 255, 1);
    }
    #mainNav .nav-link:hover {
        color: rgb(67, 85, 254);
    }
    #mainNav .nav-link:active {
        color: #fff;
    }
    #mainNav.navbar-shrink {
        background-color: rgba(234, 104, 245, 0.4);
    }
    #mainNav.navbar-shrink .nav-link {
        color: rgba(255, 255, 255, 1);
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
        color: rgb(67, 85, 254);
    }
    #mainNav.navbar-shrink .nav-link:active {
        color: rgb(67, 85, 254);
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: rgb(67, 85, 254);
        outline: none;
        border-bottom: 0.25rem solid rgb(234, 104, 245);
    }
}
*/

.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

.btn:hover {
    color: rgba(96, 224.145, 0.5);
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(234, 104, 245, 0.8) 0%, rgba(96, 255, 145, 0.7) 75%, #000000 100%), url("../assets/img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masthead h1 {
    font-family: 'Roboto', sans-serif;
    line-height: 2.0rem;
    letter-spacing: 0.6rem;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(67, 85, 254, 0.8));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: capitalize;
    font-size: 4px;
}

.masthead h2 {
    max-width: 20rem;
    font-size: 20rem;
    background: linear-gradient( rgba(234, 104, 245, 0.2), rgba(67, 85, 254, 0.8));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media (max-width:991px) {
    .masthead h1 {
        font-size: 2.4rem;
        line-height: 2rem;
    }
    .masthead h2 {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }
    .masthead h1 {
        font-size: 5.0rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
    .masthead h2 {
        max-width: 30rem;
        font-size: 2.0rem;
    }
}

@media (min-width: 992px) {
    .projects-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid rgb(67, 85, 254);
        ;
    }
    .projects-section .featured-text-one {
        padding: 0 2rem 0 0;
        border-right: 0.5rem solid rgb(67, 85, 254);
    }
}

.projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
}

@media (min-width: 992px) {
    .projects-section .project-text {
        padding: 5rem;
    }
    .projects-section .project-text hr {
        border-color: #64a19d;
        border-width: 0.25rem;
        width: 30%;
    }
}

.footer {
    padding: 2rem 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/*---------------------------Organizadores-Cards--------------------------*/

#organizadores .content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 15px 50px;
}

#organizadores .content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

#organizadores .content:hover .content-overlay {
    opacity: 1;
}

#organizadores .content-image {
    height: 27rem;
    width: 100%;
}

#organizadores .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#organizadores .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

#organizadores .content-details a i {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 2em;
}

#organizadores .content-details a i {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 1.6em;
}

#organizadores .content-details a i:hover {
    color: rgb(234, 104, 245);
}

#organizadores .content-details p {
    color: #fff;
    font-size: 0.8em;
}

#organizadores .fadeIn-top {
    top: 20%;
}


/*------------------------Modal--------------------------*/